<nav class="navbar navbar-default">
    <p class="navbar-text"><strong>Tasks list</strong></p>
    <form class="navbar-form navbar-right">
        <div class="form-group">
            <input class="form-control" type="text" placeholder="Tasks filter..." ng-model="taskFilter.title">
        </div>
        <button class="btn btn-primary" ng-click="open()">Create new task</button>
    </form>       
</nav>
<ul>
    <li ng-repeat="task in tasks | filter:taskFilter" class="task">
        <div class="panel panel-default">
            <div class="form-group panel-heading task-padding">
                <div><a href="#/tasks/{{ task._id }}">{{ task.title }}</a></div>
            </div>
        </div>
    </li>
</ul>