<nav class="navbar navbar-default">
    <p class="navbar-text"><strong>Tasks list</strong></p>
    <form class="navbar-form navbar-right">
        <div class="form-group">
            <input class="form-control" type="text" placeholder="Tasks filter..." ng-model="taskFilter.title">
        </div>
        <button class="btn btn-primary" ng-click="open()">Create new task</button>
    </form>       
</nav>
<ul>
    <li ng-repeat="task in tasks | filter:taskFilter" class="task">
        <div class="panel panel-default">
            <form editable-form name="taskForm" onaftersave="updateTask(task)">
                <div class="form-group panel-heading task-padding">
                    <div editable-text="task.title">{{ task.title }}</div>
                </div>
                <div class="form-group task-padding">
                    <div class="panel-body" editable-textarea="task.content" e-cols="99" e-rows="4">{{ task.content }}</div>
                </div>
                <div class="form-group task-padding">
                    <p class="task-padding" editable-text="task.attached" e-ng-model="selectedUser" e-typeahead="user for user in users | filter:$viewValue">Attached: {{ task.attached.join(", ") }}</p>
                </div>
                <div class="panel-footer clearfix">
                    <div class="pull-right">

                        <button type="button" class="btn btn-primary btn-sm" ng-click="taskForm.$show()" ng-show="!taskForm.$visible">Edit</button>
                        
                        <button type="button" class="btn btn-danger btn-sm" ng-click="deleteTask(task._id)" ng-show="!taskForm.$visible">Delete</button>
                        
                        <span ng-show="taskForm.$visible">
                            <button type="submit" class="btn btn-primary btn-sm" ng-disabled="taskForm.$waiting">
                                Save
                            </button>
                            <button type="button" class="btn btn-default btn-sm" ng-disabled="taskForm.$waiting" ng-click="taskForm.$cancel()">
                                Cancel
                            </button>
                        </span>
                    </div>
                    <div class="pull-left task-info">
                        <p>{{ task.created_at | date: "MMM dd, yyyy HH:mm:ss" }}</p>
                    </div>
                </div>
            </form>
        </div>
    </li>
</ul>