/* ng-cloak */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide{
    display:none !important;
}
/*@media (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}
@media (min-width: 768px){
    .navbar-form.navbar-right:last-child {
        margin-right: 0;
    }
}*/

/*body {
    padding: 20px 0 20px 0;
}*/
html {
    padding-top: 80px;
}
ul {
    list-style: none;
}
textarea {
   resize: none;
}
.header {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 20px;
}
.header h3 {
    padding-bottom: 20px;
}
.task-info {
    margin-top: 6px;
}
.task-info p {
    margin: 0;
}
.panel-footer {
    background-color: rgba(245, 245, 245, 0.59);
}
.newtask-title {
    border-top: 1px solid #ddd;
    padding-top: 10px;
}
.list-group-item > a {
    display: block;
}
.panel-heading {
    background-color: #f5f5f5;
}
.task-padding {
    padding: 10px;
}
.panel-body {
    padding: 0;
}
.attached-users {
    padding-left: 0; 
}
.attached-users > li {
    float: left;
}
.editable-text {
    margin-top: 10px;
}
.editable-click, a.editable-click {
    text-decoration: none;
    color: #428bca;
    border-bottom: none;
}

.table-users span.edit {
    margin-left: 10px;
    display: none;

}
.table-users td {
    position: relative;
}
.table-users td:hover {
    cursor: pointer;
} 
.table-users td span {
    margin-left: 10px;
}
.comment {
    margin-bottom: 20px;
    background-color: #ddd;
    border: 1px solid black;
}
.comment-content {
    margin-bottom: 10px;
}
/*  ------   */
.btn {
    border-radius: 0;
    transition: background-color 300ms ease-out;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .open > .dropdown-toggle.btn-warning {
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512;
    transition: background-color 300ms ease-out;
}
.btn-primary {
    color: #fff;
    background-color: #008CBA;
    border-radius: 0;
    border-color: #008CBA;
    transition: background-color 300ms ease-out;
    
}
.btn-primary:hover, .btn-primary:focus {
    background-color: #007295;
    border-color: #007295;
}
.btn-primary:active {
    background-color: #008CBA;
    border-color: #008CBA;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: thin dotted;
    outline: none;
    outline-offset: -2px;
}
.modal-content {
    border-radius: 0;
}
.navbar-default {
    background-color: #333333;
    border-color: #e7e7e7;
}
.navbar-default .navbar-brand {
    color: #fff;
    transition: background-color 300ms ease-out;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #fff;
    background-color: #272727;
    transition: background-color 300ms ease-out;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
    transition: background-color 300ms ease-out;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    background-color: #272727;
    transition: background-color 300ms ease-out;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #008CBA;
}
.navbar-default .navbar-nav > .active > a:hover {
    background-color: #007ba0;
}
input:focus {
    outline: 0;
    
}
.form-control {
    border-color: #ccc;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;

    
}
.form-control:focus {
    border-color: #ddd; 
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.control-list > li {
    margin-right: 5px;
}
.list-group-item {
    border: 0;
    margin-top:1px;
    border-bottom: 1px solid #eee;
    border-radius: 0;
    padding: 5px 10px;

}
.list-group-item:first-child, .list-group-item:last-child {
/*    border-top-left-radius: 4px; 
    border-top-right-radius: 4px; */
    border-radius: 0;
}
.task-list-inner > li {
    margin-bottom: 5px;
}
.task-list-inner > li:last-child {
    margin-bottom: 0;
}
.task-list-inner > li > a {
    color:#333;
}
.task-list-date {
/*    display: inline-block;
    padding-top: 10px;*/
}
hr {
    border-color: rgba(0, 114, 149, 0.21);
}
.label {
    border-radius: 0;
    background-color: #008CBA;
}
.badge{
    border-radius: 0;
    background-color: #5cb85c;
}
.list-group-item > a {
    color: #333;
}
.list-group-item > a:hover {
    text-decoration: none;
}
.list-group-item:hover {
    background: rgba(238, 238, 238, 0.37);
}
.panel {
    border-radius: 0;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.checked-task-color {
    color: #5cb85c;
}
.task-comments {
    
}